<footer>
    <div class="footer-info">
        <div class="footer-info-socials">
            <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-square-x-twitter"></i></a>
            <a href="https://www.linkedin.com/in/faisal-raza-a3747b24a/"><i class="fa-brands fa-square-linkedin"></i></a>
        </div>
        <div class="footer-info-brand"> &copy;WanderNest Private Limited</div>
        <div class="footer-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms & Conditions</a>
        </div>
        
    </div>
</footer>